<!DOCTYPE: HTML>
<html lang="en-us">
    <head>
                <title>JavaScript Unit Calculator</title>
        
        <!-----------------Browser and mobile compatible--------------->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--------------------SEO and Descriptions------------------->
        <meta name="description" content="# tydyedesign.github.io
                This is for learning HTML5, CSS3, and JavaScript; to demonstrate personal skill in JavaScript and provide easy ways to calculate.
                Brigham Young University-Idaho, BYU-Idaho, CIT230, CIT 230, CIT160">
        <meta name="keywords" content="BYUI, CIT230, CIT, frontend web development, tyler tucker, tydye design, javascript calculator, github, unit converter, unit calculator">
        <meta name="author" content="Tyler Tucker, TyDyeDesign">
        
        <!---------------------Mobile App Tags----------------------->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="viewport" content="user-scalable=no, width=device-width" />
        <link rel="apple-touch-startup-image" href="calculatoricon.png" />
        
        <link rel="shortcut icon" type="image/x-icon" href="calculatoricon.png">
        <link rel="apple-touch-icon" href="calculatoricon.png" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <!---------------Stylesheets, CDNs, Script Tags--------------->
        
        <link rel="stylesheet" href="main.css">
        
        <script type="text/javascript" src="tempjs.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
    </head>
    <body>
        <div class="pagecontainer">
            <div class="card-8">
    <header>
        <p id="backbtn">
            <a href="unitpick.html"><button class="w3-button w3-black">Back</button></a>
        </p>
                <h1>Weight <i class="fa fa-balance-scale"></i></h1>
            <hr>
    </header>
                
            <div id="conversionbox" ng-app="poundstokgApp" ng-controller="myCtrl">
            
                <h2>Pounds to Kilograms</h2>
                <span class="highlight">{{ equation }}</span>
                <br>
                <span class="highlight">{{ equation2 }}</span>
<br>
<br>
                Enter a weight in pounds or kg:
                <br>
                <br>
                
                Pounds: <input type="text" ng-model="pounds"><br>
                Kilograms: <input type="text" ng-model="kilograms"><br>

                <br>
                Pounds to Kg: <h3>{{pounds * 0.453592}}</h3>
                <br>
                Kg to Pounds: <h3>{{kilograms * 2.20462}}</h3>
                
            </div>

            </div>
        </div>
    </body>

<script>
var app = angular.module('poundstokgApp', []);
app.controller('myCtrl', function($scope) {
    $scope.pounds= "";
    $scope.kilograms= "";
    $scope.equation= "1 lb = 0.453592 kg";
    $scope.equation2= "1 kg = 2.20462 lb";
});
</script>

</html>